#### Q1. What is MongoDB?
- Mongo db is the non-relational database , the data is stored on json format.

#### Explain non-relational databases in short.
- The non-relational database is not use in  table schema of rows and columns.
- There is no key relation ship in this database
- we can add mutiple column values in run time without gettting any issues

#### In which scenarios it is preferred to use MongoDB over SQL databases?
- mongodb databse is used for handling big data with dynamix schema feature.
- in sql database is relational databse and store less amount of data.

#### Q2. State and Explain the features of MongoDB.
- mongo db is stored the data  json like docuemnts

### Features
- Document oriented
- Flexible schema
- high performane
- handling big data

In [3]:
#### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [7]:
## module to connect mongo db
import pymongo

## connect mongodb
client = pymongo.MongoClient("mongodb+srv://maripvm14:Marimuthu@cluster0.v4ymegh.mongodb.net/?retryWrites=true&w=majority")
## create databse
db=client["testdb1"]

##Collection crrate
col=db["first"]

#### Q4.write a code to insert one record and insert many records. Use the find() and find_one() methods to print the inserted record.

In [9]:
##insert one record
data={"Name":"mari","Age":27,"Work":"IT"}
col.insert_one(data)

In [11]:
##insert many record
data=[{"Name":"jack","Age":29,"Work":"Mech"},{"Name":"partha","Age":25,"Work":"IT"}]

col.insert_many(data)

In [13]:
##find 
for i in col.find():
    print(i)

{'_id': ObjectId('63efb99bc0e487fdf5b60b2a'), 'Name': 'mari', 'Age': 27, 'Work': 'IT'}
{'_id': ObjectId('63efb9f4c0e487fdf5b60b2b'), 'Name': 'jack', 'Age': 29, 'Work': 'Mech'}
{'_id': ObjectId('63efb9f4c0e487fdf5b60b2c'), 'Name': 'partha', 'Age': 25, 'Work': 'IT'}

In [25]:
##find one 
x=col.find_one()
print(x)

{'_id': ObjectId('63efb99bc0e487fdf5b60b2a'), 'Name': 'mari', 'Age': 27, 'Work': 'IT'}

#### Q5. Explain how you can use the find() method to query the MongoDB database. 
- it act as filter to find the particular record inside the collection
- the find method used to retun the all the values in collection

In [31]:
#### Write a simple code to demonstrate this.
## get entire record from collection
for i in col.find():
    print(i)

{'_id': ObjectId('63efb99bc0e487fdf5b60b2a'), 'Name': 'mari', 'Age': 27, 'Work': 'IT'}
{'_id': ObjectId('63efb9f4c0e487fdf5b60b2b'), 'Name': 'jack', 'Age': 29, 'Work': 'Mech'}
{'_id': ObjectId('63efb9f4c0e487fdf5b60b2c'), 'Name': 'partha', 'Age': 25, 'Work': 'IT'}

#### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.
- sort method used to sort the result in asc or desc order

In [32]:
##example
for i in col.find().sort("Age"):
    print(i)

{'_id': ObjectId('63efb9f4c0e487fdf5b60b2c'), 'Name': 'partha', 'Age': 25, 'Work': 'IT'}
{'_id': ObjectId('63efb99bc0e487fdf5b60b2a'), 'Name': 'mari', 'Age': 27, 'Work': 'IT'}
{'_id': ObjectId('63efb9f4c0e487fdf5b60b2b'), 'Name': 'jack', 'Age': 29, 'Work': 'Mech'}

#### Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [34]:
##delete one : used to delete only one record
col.delete_one({"Name":"jack"})

In [35]:
### delete_many() : its used to delete the mutiple record
col.delete_many({"work":"IT"})

In [37]:
### drop()  is used to delete the collection
col.drop()

In [40]:
db.list_collection_names()

[]