#### Q1. What are the characteristics of the tuples? Is tuple immutable?

##### yes tuple is im-mutable.
##### we can add list,set, dict inside the tuple
##### once  values are added in tuble we are not able to change any values inside the tuble.
##### tuble have two inbuild function count and index .
##### count=> its return count of same values  in the tuple
##### index=> retun the first matched   index value

#### Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why
#### tuples have only two in-built methods as compared to Lists.

In [3]:
tup=(1,2,3,4,5,6,4,5)
## count method
tup.count(4)

2

In [4]:
#index method
tup.index(4)

3

#### Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove
#### duplicates from the given list.

In [6]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [8]:
#using set to remove the duplicate values
set(List)

{1, 2, 3, 4}

#### Q4. Explain the difference between the union() and update() methods for a set. Give an example of each method.

union() method create and return a new set.
update() method does not create a new set instead of add the values.

In [23]:
a={1,2,3,4,5}
b={6,7,8,9,10,10}
c={11,12,13}

In [28]:
s=a.union(b)
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [29]:
a.update(b,c)

In [30]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

#### Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

- Dictionar is key and value pair
- Its unordered

In [32]:
dict={"name":"mari","Age":26,"Id":1234}
dict

{'name': 'mari', 'Age': 26, 'Id': 1234}

#### Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.

In [37]:
yes we can able to create neseted dict

SyntaxError: invalid syntax (404885038.py, line 1)

In [33]:
dict_nest={"name":"mari","Age":26,"Id":1234,"nest":dict}

In [36]:
dict_nest['nest']['name']

'mari'

#### Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this
- list ['Python', 'Machine Learningâ€™, 'Deep Learning']
- dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [38]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [47]:
lst=['Python','Machine Learning','Deep Learning']
print(dict1.setdefault('topics',lst) )

['Python', 'Machine Learning', 'Deep Learning']

In [44]:
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

#### Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display these three view objects for the given dictionary.

#### Threee view objects
- keys
- values
- items

In [48]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [50]:
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [51]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [52]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])