#### co-variance and Co-relations
- Adavantages
    - relationship between the x,y variable positive and negative values
- Dis advantages
    - co-variance does not have specific values

####  pearson corelation value [-1 to 1]

- the more values towards to +1 its more positive  co-relative
- the more values towards to -1 its more negative co-relative

#### spearmen corelations
- Rank of value we get the co-relation

In [1]:
import seaborn as sns
import pandas as pd

In [4]:
data=sns.load_dataset('healthexp')
data

     Year        Country  Spending_USD  Life_Expectancy
0    1970        Germany       252.311             70.6
1    1970         France       192.143             72.2
2    1970  Great Britain       123.993             71.9
3    1970          Japan       150.437             72.0
4    1970            USA       326.961             70.9
..    ...            ...           ...              ...
269  2020        Germany      6938.983             81.1
270  2020         France      5468.418             82.3
271  2020  Great Britain      5018.700             80.4
272  2020          Japan      4665.641             84.7
273  2020            USA     11859.179             77.0

[274 rows x 4 columns]

In [7]:
## co-variance
import numpy as np

In [6]:
data.cov()

                         Year  Spending_USD  Life_Expectancy
Year               201.098848  2.571883e+04        41.915454
Spending_USD     25718.827373  4.817761e+06      4166.800912
Life_Expectancy     41.915454  4.166801e+03        10.733902

In [8]:
##pearson- co-relation 
data.corr(method='pearson')

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.826273         0.902175
Spending_USD     0.826273      1.000000         0.579430
Life_Expectancy  0.902175      0.579430         1.000000

In [9]:
##sperason co-relation
data.corr(method='spearman')

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.931598         0.896117
Spending_USD     0.931598      1.000000         0.747407
Life_Expectancy  0.896117      0.747407         1.000000