#### Error vs Exception: 
- Error: Error is identifie and corrceted at compile time
- exception : It will be identified at run time

In [1]:
a=b

NameError: name 'b' is not defined

In [6]:
try:
    a=b
except Exception as ex:
    print(ex)

name 'b' is not defined

In [7]:
 a=b

NameError: name 'b' is not defined

In [13]:
try:
    a=5
    b="s"
    c=a+b
except NameError:
    print("The user nothave defined the variable")
except TypeError:
    print("Please provide the intger value")
except Exception as ex:
    print(ex)

Please provide the intger value

In [12]:
a=5
b="s"
c=a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

#### try, else, finaly
- sql connection open try block
- perform curd operation else block
- close the connection finaly block

In [23]:
try:
    a=int(input("enter the number1"))
    b=int(input("enter the number 2"))
    c=a/b
except ZeroDivisionError:
    print("please enter the value greater than 0")
except NameError:
    print("The user nothave defined the variable")
except TypeError:
    print("Please provide the intger value")
except Exception as ex:
    print(ex)
else:
    print(c)
finally:
    print("finaly block")

enter the number1 10
enter the number 2 5

2.0
finaly block

In [16]:
10/0

ZeroDivisionError: division by zero

### Custom exception

In [26]:
class Error(Exception):
    pass

class dobexception(Error):
    pass

In [35]:
try:
    year=int(input("enter the date of birth"))
    age= 2023-year
    print('age',age)
    if age<=30 and age >20:
        print("The age is valid you can apply for the job")
    else:
        raise dobexception
except dobexception:
    print("The year range is not valid")

enter the date of birth 2004

age 19
The year range is not valid