#### Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Supposeyou have collected data on the amount of time students spend studying for an exam and their final exam scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

- Pearson correlation coefficient values is -1 to 1
- If values towards to postive thers is relatiosip b/w two varibale and positive corelation
- If values towards to negative thers is no relatiosip b/w two varibale and  negative corelation

#### Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables. Suppose you have collected data on the amount of sleep individuals get each night and their overall job satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two variables and interpret the result.
- Spearman's rank correlation is value is -1 to 1
- amount of sleep increases, job satisfaction tends to increase as well.
- amount of sleep decrease , job satisfaction tends to decrease as well.

#### Q3. Suppose you are conducting a study to examine the relationship between the number of hours of exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation between these two variables and compare the results.

In [17]:
import numpy as np
import pandas as pd

In [15]:
data={"hours" :np.random.randint(0,10,50) ,"BMI":np.random.randint(20,50,50) }

In [23]:
df=pd.DataFrame(data)

In [20]:
df.corr(method='pearson')
## The values is  towards to negative there is relationship b/w two variable

          hours       BMI
hours  1.000000 -0.215449
BMI   -0.215449  1.000000

In [24]:
df.corr(method='spearman')
## The values is  towards to negative there is relationship b/w two variable

        hours     BMI
hours  1.0000 -0.1982
BMI   -0.1982  1.0000

#### Q4. A researcher is interested in examining the relationship between the number of hours individuals spend watching television per day and their level of physical activity. The researcher collected data on both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between these two variables.

 - If Pearson corealtion values towards to   postive there is relation b/w the two values
 - If Pearson corealtion values  towards to  negative there is no  relation  b/w the two values

### Q5: Q5. A survey was conducted to examine the relationship between age and preference for a particular  brand of soft drink. The survey results are shown below:

In [26]:
data= {"Age":[25,42,37,19,31,28],"Drink":["Coke","Pepsi","Mountain dew","Coke","Pepsi","Coke"]}

In [27]:
df5=pd.DataFrame(data)

In [33]:
drink_dict=df5['Drink'].value_counts().to_dict()

In [34]:
df5['Drinkvalue']=df5['Drink'].map(drink_dict)

In [38]:
df5.corr()
## Based on our analysis there is no relationship b/w the two age and drink

                 Age  Drinkvalue
Age         1.000000   -0.758704
Drinkvalue -0.758704    1.000000

####  Q6. A company is interested in examining the relationship between the number of sales calls made per day and the number of sales made per week. The company collected data on both variables from a sample of 30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [40]:
df6=pd.DataFrame({"Sales_Calls_per_Day": [10, 8, 6, 4, 5, 7, 9, 11, 12, 15, 14, 13, 11, 10, 9, 8, 7, 6, 5, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24],
                  "Sales_per_Week":[2, 3, 4, 3, 2, 3, 5, 6, 7, 10, 8, 9, 6, 5, 4, 3, 2, 1, 2, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
                 })

In [41]:
df6.corr()

                     Sales_Calls_per_Day  Sales_per_Week
Sales_Calls_per_Day             1.000000        0.938519
Sales_per_Week                  0.938519        1.000000

In [43]:
### The values is positive we have relatioship b/w the two variable call oncrease and sales also increase