#### Q1. What is the difference between Ordinal Encoding and Label Encoding? Provide an example of when you might choose one over the other.

- Label encoding is not rank order based
- ordnial encoding is Rankig order based we can given the order

In [1]:
import pandas as pd

In [6]:
## Label encoding
df_la=pd.DataFrame({"color" :["Red","yellow","Green"]})
## ordinal encoding
df_ordinal=pd.DataFrame({"size":["small","Medium","large"]})

#### Q2. Explain how Target Guided Ordinal Encoding works and provide an example of when you might use it in a machine learning project.
- The categorical variable is related based on the target variable
- Its used more than unique value
- monotonic relatioship b/w the target vs Feature

In [8]:
data=pd.DataFrame(
    {'city':['newyork','londan','parish','newyork'],
     'price':[3000,5000,8000,2000]
    }
)

In [11]:
mean_price=data.groupby("city")['price'].mean().to_dict()

In [12]:
mean_price

{'londan': 5000.0, 'newyork': 2500.0, 'parish': 8000.0}

In [13]:
data['cityencode']=data['city'].map(mean_price)

In [14]:
data[['price','cityencode']]

   price  cityencode
0   3000      2500.0
1   5000      5000.0
2   8000      8000.0
3   2000      2500.0

#### Q3. Define covariance and explain why it is important in statistical analysis.
 - Covariance is a statistical measure that describes how two variables are related to each other. It measures the degree to which two variables change together, and in what direction. In other words, it is a measure of the joint variability of two variables.
### How is covariance calculated?

 - Cov(X, Y) = Σ[(xi - μx) * (yi - μy)] / (n - 1)
 - cov() us this pandas function to get the value
 - A positive covariance indicates that the two variables tend to increase or decrease together, while a negative covariance indicates that they tend to move in opposite directions.

#### Q4. For a dataset with the following categorical variables: Color (red, green, blue), Size (small, medium,large), and Material (wood, metal, plastic), perform label encoding using Python's scikit-learn library. Show your code and explain the output.

In [15]:
data4={"color":["red","green","blue"],
       "Size":["small","medium","large"],
       "Matrial":["Wood","metal","Plastic"]
      }

In [16]:
df4=pd.DataFrame(data4)
df4

   color    Size  Matrial
0    red   small     Wood
1  green  medium    metal
2   blue   large  Plastic

In [17]:
from sklearn.preprocessing import LabelEncoder

In [26]:
colorcoded=LabelEncoder()
sizecoded=LabelEncoder()
Matrialcoded=LabelEncoder()

In [ ]:
df4['color_coder']=labelencoded.fit_transform(df4[['color']])
df4['size_coder']=sizecoded.fit_transform(df4[['Size']])
df4['material_coder']=Matrialcoded.fit_transform(df4[['Matrial']])

In [29]:
df4.head()

   color    Size  Matrial  color_coder  size_coder  material_coder
0    red   small     Wood            2           2               1
1  green  medium    metal            1           1               2
2   blue   large  Plastic            0           0               0

In [31]:
## Size encoded value is samll is 2 medium 2 large 0 its not ranking order based in this case we can use ordinal encoding
### color we can user one hot encoding 
### Matrial we can user label encoding

#### Q5. Calculate the covariance matrix for the following variables in a dataset: Age, Income, and Education level. Interpret the results.

In [34]:
data5={
    "Age":[26,28,30],
    "Inconme":[25000,30000,40000],
    "Education":["BE","ME","Phd"]
}
df5=pd.DataFrame(data5)
df5.cov()

             Age       Inconme
Age          4.0  1.500000e+04
Inconme  15000.0  5.833333e+07

#### Q6. You are working on a machine learning project with a dataset containing several categorical variables, including "Gender" (Male/Female), "Education Level" (High School/Bachelor's/Master's/PhD), and "Employment Status" (Unemployed/Part-Time/Full-Time). Which encoding method would you use for each variable, and why?

- Gender
    - we use binary encoding beacuse its have Male and femal two category
- Education level 
    - for this we can use the ordinal encoding because  its ranking order 
- Employment Status
    - we can use the label encoding

#### Q7. You are analyzing a dataset with two continuous variables, "Temperature" and "Humidity", and two categorical variables, "Weather Condition" (Sunny/Cloudy/Rainy) and "Wind Direction" (North/South/ East/West). Calculate the covariance between each pair of variables and interpret the results.

- Covariance between Temperature and Humidity:
    - A positive covariance between Temperature and Humidity would indicate that as the temperature increases, humidity tends to increase as well. A negative covariance would indicate that as the temperature increases, humidity tends to decrease. The magnitude of the covariance indicates the strength of the relationship between Temperature and Humidity.
    
- Covariance between Temperature and Weather Condition:
    - A positive covariance between Temperature and Weather Condition would indicate that as the temperature increases, the weather tends to be sunnier or less rainy. A negative covariance would indicate that as the temperature increases, the weather tends to be cloudier or rainier. The magnitude of the covariance indicates the strength of the relationship between Temperature and Weather Condition.
    
- Covariance between Temperature and Wind Direction
    - A positive covariance between Temperature and Wind Direction would indicate that as the temperature increases, the wind tends to come from a certain direction (e.g., North). A negative covariance would indicate that as the temperature increases, the wind tends to come from a different direction (e.g., South). The magnitude of the covariance indicates the strength of the relationship between Temperature and Wind Direction.