#### Q1. What is data encoding? How is it useful in data science?
- Categorical variable convert into numerical value is called data encoding
- If we are not converting categorical value in to numerical value our model doesn't understand

#### Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.
-  its used represent categorical valyue into numerical value.
- car colors => Red black white

#### Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

- Our feature have less number of categorical value.

In [2]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [4]:
data={"color": ["Red","Black","White"]}

In [5]:
df=pd.DataFrame(data)

In [6]:
df.head()

   color
0    Red
1  Black
2  White

In [21]:
## create instance
encoder=OneHotEncoder()
## perform fit and transform
encoder=encoder.fit_transform(df[['color']]).toarray()
encoder

array([[0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.]])

In [19]:
df1=pd.DataFrame(encode, columns=["Red","Black","White"])

In [20]:
df1.head()

   Red  Black  White
0  0.0    1.0    0.0
1  1.0    0.0    0.0
2  0.0    0.0    1.0

#### Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding technique would you use to transform this data into a format suitable for machine learning algorithms?Explain why you made this choice.

- one hot encoding we can use

#### Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to transform the categorical data, how many new columns would be created? Show your calculations.

- first categorical column have 3 values => 3 column has been created
- second  categorical column have 2 values => 2 column has been created
- over all 5 column are extra added

#### Q6. You are working with a dataset containing information about different types of animals, including theirspecies, habitat, and diet. Which encoding technique would you use to transform the categorical data into a format suitable for machine learning algorithms? Justify your answer.
- we have more number of animal come into category so we can use target guided ordinal encoding.

#### Q7.You are working on a project that involves predicting customer churn for a telecommunications company. You have a dataset with 5 features, including the customer's gender, age, contract type, monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.
- customer's gender => its have three type (Male, Female, others) we can use nominal/One hot encoding
- contract type => its have (permanent, temporary) => we can use binary encoding
- Age => scalling
- Salary -> scalling
- tenure -> we can use ordinal encoding