In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings 
warnings.filterwarnings('ignore')

### Q1 numerical and categrotical data

In [11]:
data=sns.load_dataset('tips')

In [4]:
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
## check the missing values
data.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [6]:
data.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [12]:
## label encoder for tareget variable
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
data['time']=encoder.fit_transform(data['time'])

In [13]:
data.head()

   total_bill   tip     sex smoker  day  time  size
0       16.99  1.01  Female     No  Sun     0     2
1       10.34  1.66    Male     No  Sun     0     3
2       21.01  3.50    Male     No  Sun     0     3
3       23.68  3.31    Male     No  Sun     0     2
4       24.59  3.61  Female     No  Sun     0     4

In [15]:
##indepent and dependent variable split
X=data.drop('time',axis=1)
y=data['time']

In [16]:
## train test split the data
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.30, random_state=42)

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    int32
 6   size        244 non-null    int64
dtypes: category(3), float64(2), int32(1), int64(1)
memory usage: 8.0 KB

In [19]:
# numerical and categorical colum
numeric_column=['total_bill','tip','size']
cate_column=['sex','smoker','day']

In [22]:
## Create a pipeline for numerical and categorical colum
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [24]:
## preprocessing and impute the missing values
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

In [27]:
numeric_pipeline=Pipeline(
    steps=[
        ('impute',SimpleImputer(strategy='mean')),
        ('scaler',StandardScaler())      
    ]
)

categroy_pipeline=Pipeline(
    steps=[
        ('impute',SimpleImputer(strategy='most_frequent')),
        ('scaler',OneHotEncoder())      
    ]
)

In [29]:
##column tranfer
preprocessing=ColumnTransformer([
    ('numeric_pipeline',numeric_pipeline,numeric_column),
    ('categroy_pipeline',categroy_pipeline,cate_column)
])

In [30]:
X_train=preprocessing.fit_transform(X_train)
X_test=preprocessing.transform(X_test)

In [33]:
## random forest classifer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [54]:
model={
    'Random forest':RandomForestClassifier()
}

In [48]:
##evaluate model
def evaulatemodel(X_train, X_test, y_train, y_test,models):
    report={}
    for i in range(len(models)):
        model=list(models.values())[i]
        ##fit the model
        model.fit(X_train,y_train)
        ##Predict the model
        y_pred=model.predict(X_test)
        ##accurcy
        score=accuracy_score(y_test,y_pred)
        report[list(models.keys())[i]]=score
    return report

In [55]:
evaulatemodel(X_train, X_test, y_train, y_test,model)

{'Random forest': 0.972972972972973}

## Q2. iris data

In [57]:
df=sns.load_dataset('iris')

In [58]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [60]:
df['species']=encoder.fit_transform(df['species'])

In [61]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [65]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int32

In [67]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [68]:
numeric_pipeline=Pipeline(
    steps=[
        ('impute',SimpleImputer(strategy='mean')),
        ('scaler',StandardScaler())      
    ]
)

In [79]:
numeric_column=['sepal_length','sepal_width','petal_length','petal_width']

In [80]:
##column tranfer
preprocessing=ColumnTransformer([
    ('numeric_pipeline',numeric_pipeline,numeric_column),
])

In [81]:
X_train=preprocessing.fit_transform(X_train)
X_test=preprocessing.transform(X_test)

In [82]:
from sklearn.linear_model import LogisticRegression

In [83]:
model={
    'Random forest':RandomForestClassifier(),
    'logistic Regression':LogisticRegression()
}

In [84]:
evaulatemodel(X_train, X_test, y_train, y_test,model)

{'Random forest': 1.0, 'logistic Regression': 1.0}

## Logistic regression and Random forest classifer both we got 100 % accuracy