In [54]:
### https://www.w3schools.com/python/python_mongodb_find.asp
## https://cloud.mongodb.com/v2/63efa3e8a565f009ede35c05#/metrics/replicaSet/63efa53725e3e94f8f7a2b3c/explorer/mytest/test_tbl/find
import pymongo

In [19]:
password="Mari1234"

In [20]:
client = pymongo.MongoClient("mongodb+srv://maripvm14:{}@cluster0.v4ymegh.mongodb.net/?retryWrites=true&w=majority".format(password))
db = client.test

In [21]:
print(client)

MongoClient(host=['ac-s3sz4tb-shard-00-02.v4ymegh.mongodb.net:27017', 'ac-s3sz4tb-shard-00-01.v4ymegh.mongodb.net:27017', 'ac-s3sz4tb-shard-00-00.v4ymegh.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-12ahjv-shard-0', tls=True)

In [26]:
con = pymongo.MongoClient("mongodb+srv://maripvm14:{}@cluster0.v4ymegh.mongodb.net/?retryWrites=true&w=majority".format(password))

In [30]:
mydb=con['mytest']

In [34]:
mycol=mydb["test_tbl"]

In [35]:
con.list_database_names()

['admin', 'local']

In [36]:
mydb.list_collection_names()

[]

In [48]:
data={
    "Name":"jack",
    "Age":27,
    "course":"data science",
    "phone":9788779247
}

In [49]:
mycol.insert_one(data)

In [50]:
##find the record
for x in mycol.find():
    print(x)

{'_id': ObjectId('63efadb151f8d795bea64325'), 'Name': 'Marimuthu', 'Age': 27, 'course': 'data science'}
{'_id': ObjectId('63efae2451f8d795bea64326'), 'Name': 'Prakash', 'Age': 27, 'course': 'data science'}
{'_id': ObjectId('63efaec051f8d795bea64327'), 'Name': 'jack', 'Age': 27, 'course': 'data science', 'phone': 9788779247}

In [51]:
listdata={"listcpurce":["C#","Java","Pyhton"],"Mentor":["Ram","jack","janu"]}

In [52]:
mycol.insert_one(listdata)

In [53]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('63efadb151f8d795bea64325'), 'Name': 'Marimuthu', 'Age': 27, 'course': 'data science'}
{'_id': ObjectId('63efae2451f8d795bea64326'), 'Name': 'Prakash', 'Age': 27, 'course': 'data science'}
{'_id': ObjectId('63efaec051f8d795bea64327'), 'Name': 'jack', 'Age': 27, 'course': 'data science', 'phone': 9788779247}
{'_id': ObjectId('63efaf1151f8d795bea64328'), 'listcpurce': ['C#', 'Java', 'Pyhton'], 'Mentor': ['Ram', 'jack', 'janu']}

In [59]:
##finde the record
query={"Name":"Marimuthu"}
for da in mycol.find(query):
    print(da)

{'_id': ObjectId('63efadb151f8d795bea64325'), 'Name': 'Marimuthu', 'Age': 27, 'course': 'data science'}

In [66]:
##sort the 

for i in mycol.find().sort("Name"):
    print(i)

{'_id': ObjectId('63efaf1151f8d795bea64328'), 'listcpurce': ['C#', 'Java', 'Pyhton'], 'Mentor': ['Ram', 'jack', 'janu']}
{'_id': ObjectId('63efadb151f8d795bea64325'), 'Name': 'Marimuthu', 'Age': 27, 'course': 'data science'}
{'_id': ObjectId('63efae2451f8d795bea64326'), 'Name': 'Prakash', 'Age': 27, 'course': 'data science'}
{'_id': ObjectId('63efaec051f8d795bea64327'), 'Name': 'jack', 'Age': 27, 'course': 'data science', 'phone': 9788779247}

In [65]:
##Greater than check
for i in mycol.find({"Age":{"$gte":"27"}}):
    print(i)

In [69]:
##update the values

mycol.update_one({"Name":"Prakash"},{"$set":{"Age":30}})

In [70]:
for i in mycol.find({"Age":{"$gte":"24"}}):
    print(i)

In [71]:
##delete the data 
de_qry={"Name":"jack"}
mycol.delete_one(de_qry)
for i in mycol.find():
    print(i)

{'_id': ObjectId('63efadb151f8d795bea64325'), 'Name': 'Marimuthu', 'Age': 27, 'course': 'data science'}
{'_id': ObjectId('63efae2451f8d795bea64326'), 'Name': 'Prakash', 'Age': 30, 'course': 'data science'}
{'_id': ObjectId('63efaf1151f8d795bea64328'), 'listcpurce': ['C#', 'Java', 'Pyhton'], 'Mentor': ['Ram', 'jack', 'janu']}