In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('Netflix Dataset.csv')

In [3]:
data.head()

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,07:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [4]:
data.tail()

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
7784,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7785,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7786,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7787,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7788,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [7]:
data.columns

Index(['Show_Id', 'Category', 'Title', 'Director', 'Cast', 'Country',
       'Release_Date', 'Rating', 'Duration', 'Type', 'Description'],
      dtype='object')

In [8]:
list(data.columns)

['Show_Id',
 'Category',
 'Title',
 'Director',
 'Cast',
 'Country',
 'Release_Date',
 'Rating',
 'Duration',
 'Type',
 'Description']

In [9]:
##how to check data types inside the column
data.dtypes

Show_Id         object
Category        object
Title           object
Director        object
Cast            object
Country         object
Release_Date    object
Rating          object
Duration        object
Type            object
Description     object
dtype: object

In [10]:
##how to read one column read
data['Category']

0       TV Show
1         Movie
2         Movie
3         Movie
4         Movie
         ...
7784      Movie
7785      Movie
7786      Movie
7787    TV Show
7788      Movie
Name: Category, Length: 7789, dtype: object

In [11]:
## how to check singe individual column data type
type(data['Category'])

pandas.core.series.Series

In [12]:
type(data[['Category']])

pandas.core.frame.DataFrame

In [14]:
##multiple column show
data[['Rating','Type']]

     Rating                                               Type
0     TV-MA  International TV Shows, TV Dramas, TV Sci-Fi &...
1     TV-MA                       Dramas, International Movies
2         R                Horror Movies, International Movies
3     PG-13  Action & Adventure, Independent Movies, Sci-Fi...
4     PG-13                                             Dramas
...     ...                                                ...
7784  TV-MA                       Dramas, International Movies
7785  TV-14     Dramas, International Movies, Music & Musicals
7786  TV-MA  Documentaries, International Movies, Music & M...
7787  TV-PG                 International TV Shows, Reality TV
7788  TV-MA                    Documentaries, Music & Musicals

[7789 rows x 2 columns]

In [ ]:
dataexcel=pd.read_excel('exce.xlx')

In [16]:
##save the data into another file with index
data.to_csv('Netflix_copy.csv')

In [17]:
# remove the index when saving the file
data.to_csv('Netflix_copy.csv',index=False)

In [ ]:
## read the tabular data from html page
pd.read_html('url')

In [18]:
len(data)

7789

In [19]:
data.dtypes

Show_Id         object
Category        object
Title           object
Director        object
Cast            object
Country         object
Release_Date    object
Rating          object
Duration        object
Type            object
Description     object
dtype: object

In [22]:
import pandas as pd

data = {'Name': ['John', 'Jane', 'Jim', 'Joan'],

        'Age': [25, 30, 35, 40],

        'Occupation': ['Engineer', 'Doctor', 'Teacher', 'Lawyer']}

df = pd.DataFrame(data)

print(df.loc[0])

Name              John
Age                 25
Occupation    Engineer
Name: 0, dtype: object